body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 4, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ================= navbar ================= */

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    width: 60%;
    height: 45px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    display: flex;
    top: 25px;
    z-index: 999; position: fixed;
}
.logo-text-img {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}
.logo-text {
    margin-left: 4px;
    font-size: 17px;
}
.logo-img { 
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.mader3div {
    width: 40%;
    margin-left: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mader3div h3 {
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    border-radius: 14px;
    font-size: 14px;
    transition: all 2s;
}
.mader3div h3:hover {
    background: linear-gradient(135deg, rgba(46, 46, 244, 0.267), rgba(137, 43, 226, 0.285));
}
.div-center {
    padding: 4px 10px;
    margin: 4px;
}
.Contact {
    margin: 1.3px 1.2px 3px 19%;
    width: 15%; 
    justify-content: center;
    color: aliceblue;
    height: 95%;
    font-size: 16px;
    border-radius: 13px;
    background: linear-gradient(135deg, rgba(31, 31, 252, 0.92), rgb(143, 35, 244));
    border: none;
}
/* ================= main ================= */
.ball {
    width: 420px;
    height: 420px;
    background: rgb(15, 0, 34);
    box-shadow:  -9px -3px 42px rgb(32, 13, 49);
    border-radius: 100%;
    transition: all 1.3s;
}
.back-g-ball {
    width: 100%;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    background: linear-gradient(to right, black, black, black, black, rgba(109, 12, 255, 0.237), rgba(137, 43, 226, 0.301), rgba(0, 0, 255, 0.196));
}
.ball-up {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 420px;
    height: 420px;
    background: rgb(15, 0, 34);
    box-shadow: inset 6px 3px 10px rgb(194, 155, 232);
    border-radius: 100%;
    transition: all 1.3s;
    animation: show forwards 4s;
}
@keyframes show {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.ball-up:hover {
    box-shadow: inset 3px 0 15px blueviolet;
}
.ball p {
    width: 80%;
    font-size: larger;
    background: linear-gradient(90deg, red, rgb(164, 60, 255), rgb(255, 128, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.ball:hover {
    box-shadow: -9px -3px 22px rgb(98, 45, 147);
}
.ball-up h1 {
    width: 90%;
    text-align: center;
    color: white;
}
.back-g-ball button {
    margin-top: 10px;
    width: 8%;
    font-size: 14px;
    color: white;
    height: 36px;
    border-radius: 20px;
    border: none;
    background: linear-gradient(135deg, rgba(46, 46, 244, 0.308), rgba(137, 43, 226, 0.308));
}
.back-g-ball button:hover {
    background: linear-gradient(135deg, rgba(46, 46, 244, 0.598), rgba(137, 43, 226, 0.589));  
}
/* ================= side2 ================= */
.side2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side2 h1 {
    color: white;
}
.mio {
    width: 18%;
    height: 300px;
    margin: 30px;
    border-radius: 18px;
    background: linear-gradient(180deg, rgb(152, 152, 152), blueviolet);
    box-shadow: 2px 2px 10px rgb(66, 66, 66);
    transition: all 2s;
}
.mio:hover {
    margin-top: -7px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.884), rgba(137, 43, 226, 0.726));
    height: 320px;
}
.mio-aleman {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.photo {
    margin-top: 5%;
    width: 70px;
    height: 70px;
    background: black;
    border-radius: 100%;
}
.butt-detels {
    display: flex;
    margin-top: 30%;
}
.mio button {
    background-color: rgb(211, 187, 233);
    width: 100px;
    margin: 4px;
    font-size: large;
    border-radius: 15px;
    height: 35px;
    border: none;
}
.mio button:hover {
    background: linear-gradient(135deg, rgba(31, 31, 252, 0.92), rgb(143, 35, 244));
}
.last-div {
    margin-top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-botom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h4 {
    text-align: center;
    width: 50%;
    font-size: large;
    padding: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media (max-width: 765px) {
    .nav {
        top: 0;
        border-radius: 0;
        width: 100%;
    }
    .logo-text {
        width: 2%;
        font-size: 15px;
    }
    .mader3div {
        display: none;
    }
    .logo-img {
        margin-left: -20px;
        width: 29px;
        height: 29px;
    }
    .mader3div h3 {
        padding: 4px;
    }
    .ball {
        width: 320px;
        height: 320px;
    }
    .ball-up {
        width: 320px;
        height: 320px;
    }
    .last-div {
        flex-direction: column;
    }
    .mio {
        width: 58%;
    }
    .ball-up h1 {
        font-size: x-large;
    }
    .ball-up p {
        font-size: medium;
    }
    .back-g-ball button {
        margin-top: 4%;
        width: 24%;
    }
    .Contact {
        margin: 3.7px 1% auto auto;
        width: 25%;
        height: 85%;
    }
}
