body {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 4, 10);
    font-family:
    'Lucida Sans', 
    'Lucida Sans Regular',
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana,
    sans-serif;
}

/* ================= navbar ================= */

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    width: 60%;
    height: 45px;
    border-radius: 14px;
    background: rgb(255, 255, 255);
    display: flex;
    top: 25px;
    z-index: 999; position: fixed;
}
.logo-text-img {
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
}
.logo-text {
    margin-left: 4px;
    font-size: 17px;
}
.logo-img { 
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.mader3div {
    width: 43%;
    margin-left: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mader3div h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, 
    sans-serif;
    padding: 10px;
    border-radius: 14px;
    color: rgb(44, 44, 44);
    font-size: 15px;
    transition: all 2s;
}
.mader3div h3:hover {
    background: linear-gradient(135deg,
     rgba(46, 46, 244, 0.669),
     rgba(137, 43, 226, 0.573));
    margin-right: 8px;
}
.div-center {
    padding: 4px 10px;
    margin: 4px;
}
.Contact {
    margin: 1.3px 1.2px 3px 15%;
    width: 15%; 
    justify-content: center;
    color: aliceblue;
    height: 95%;
    font-size: 16px;
    border-radius: 13px;
    background: linear-gradient(135deg,
    rgba(31, 31, 252, 0.92),
    rgb(143, 35, 244));
    border: none;
}
.Contact:hover {
    background: linear-gradient(135deg, 
    rgba(0, 0, 255, 0.984), 
    rgb(136, 9, 255));  
    filter: contrast(300%);
}
/* ================= main ================= */
.ball {
    width: 420px;
    height: 420px;
    background: rgb(15, 0, 34);
    box-shadow:  -9px -3px 42px rgb(32, 13, 49);
    border-radius: 100%;
    transition: all 1.3s;
}
.back-g-ball {
    width: 100%;
    height: 470px;
    display: flex;
    -webkit-mask-image: 
    radial-gradient(rgb(46, 46, 46) 4%, transparent 70%);
    mask-image: radial-gradient(rgb(43, 42, 42) 4%, transparent 70%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    background: linear-gradient(to right,
    blueviolet, rgb(109, 12, 255),
    rgb(137, 43, 226), 
    rgb(0, 0, 255));
}
.ball-up {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 420px;
    height: 420px;
    background: rgb(26, 0, 59);
    box-shadow: inset 6px 3px 10px rgb(194, 155, 232);
    border-radius: 100%;
    transition: all 1.3s;
    animation: key infinite 3s;
}
@keyframes key {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(45deg);
    }
    100% {
        transform: rotateZ(0);
    }
}
.ball-up:hover {
    box-shadow: inset 3px 0 15px blueviolet;
}
.ball p {
    width: 80%;
    font-size: larger;
    background: linear-gradient(90deg,
    red, 
    rgb(164, 60, 255), 
    rgb(255, 128, 0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.ball:hover {
    box-shadow: -9px -3px 22px rgb(98, 45, 147);
}
.ball-up h1 {
    width: 90%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 
    'Arial Narrow', 
    Arial, 
    sans-serif;
    color: white;
}
.nothing {
    margin-top: 10px;
    width: 8%;
    font-size: 14px;
    color: white;
    height: 36px;
    border-radius: 20px;
    border: 1px solid white;
    background: linear-gradient(135deg, 
    rgb(65, 64, 64), 
    rgb(188, 117, 255));
    filter: contrast(400%);
    transition: all 1s;
}
.nothing:hover {
    border: 1px solid rgba(255, 255, 255, 0.413);
    filter: contrast(2200%);
}
/* ================= side2 ================= */
.side2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side2 h1 {
    color: white;
}
.card {
    width: 22%; /* 18%*/
    height: 470px; /* 300px*/
    margin: 40px 33px;
    border-radius: 20px; /* 15px*/
    filter: contrast(100%);
    box-shadow: -6px 0px 12px rgba(255, 255, 255, 0.04),
    0 12px 30px rgba(0, 0, 0, 0.7),
    0 0 0 rgba(0,0,0,0);
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    transition:
    transform 1.2s cubic-bezier(0.21, 1, 0.36, 1),
    box-shadow 1.2s cubic-bezier(0.21, 1, 0.36, 1);
    transform-origin: right center;
}
h3 img {
    width: 23px;
    height: 23px;
}
.card::before {
    content: "";
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg,
    rgb(102, 0, 255),
    rgb(62, 213, 255));
    height: 150%;
    animation: show 5s linear infinite;
    transition: all 0.2s linear;
}
@keyframes show {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.card::after {
    content: "";
    position: absolute;
    inset: 3px;
    background: rgb(245, 245, 245);
    border-radius: 15px;
}
.card:hover {
    transform: rotateY(22deg)translateZ(-25px);
    box-shadow: -12px 0px 25px rgba(255, 255, 255, 0.902),
    0 35px 70px rgba(0, 0, 0, 0.85),
    0 0 35px rgba(0,0,0,0.9);
}
.card-aleman {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card h1 {
    font-size: 30px;
    background: linear-gradient(90deg,  
    rgb(0, 0, 0),
    rgb(49, 4, 4), 
    rgb(255, 14, 14));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.card h5 {
    margin-top: -4%;
    color: rgb(5, 5, 5);
}
.card-img {
    z-index: 999;
    width: 220px;
    height: 200px;
    background: black;
    border-radius: 4%;
}
.card-img-center {
    width: 200px;
    height: 150px;
    border-radius: 14px;
}
.buttons {
    z-index: 999;
    display: flex;
    margin-top: 10%;
}

.butfalo {
    z-index: 999;
    width: 140px;
    margin: 4px 14px 0 0;
    font-size: large;
    border-radius: 15px;
    height: 40px;
    border: none;
    transition: all 0.5s linear
}
.butfalo:hover {
    background: rgba(144, 25, 255, 0.74);
    filter: contrast(200%);
    border: 1px solid white;
    color: white;
}
.butdet {
    z-index: 999;
    width: 100px;
    padding: 4px 8px;
    margin: 4px;
    font-size: large;
    border-radius: 14px;
    background: rgb(102, 28, 171);
    height: 40px;
    color: white;
    border: none;
    transition: all 0.5s linear  
}
.butdet:hover {
    background: rgba(173, 120, 214, 0.74);
    filter: contrast(200%);
    border: 1px solid white;
    color: rgb(0, 0, 0);
}
.cards {
    margin-top: 4%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-botom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
h4 {
    text-align: center;
    width: 50%;
    font-size: large;
    padding: 20px;
    font-family:'Trebuchet MS',
    'Lucida Sans Unicode', 
    'Lucida Grande', 
    'Lucida Sans', 
    Arial, 
    sans-serif;
}
.hamb {
    display: none;
}

/* ================= responsive ================= */

@media (max-width: 765px) {
    .nav {
        top: 0;
        border-radius: 0;
        width: 100%;
    }.logo-text {
        width: 2%;
        margin-left: -40px;
        font-size: 15px;
    }.mader3div {
        display: none;
    }.logo-img {
        margin-left: -20px;
        width: 29px;
        height: 29px;
        display: none;
    }.mader3div h3 {
        padding: 4px;
    }.ball {
        width: 280px;
        height: 280px;
    }.ball-up {
        width: 280px;
        height: 280px;
    }.cards {
        flex-direction: column;
    }
    .card {
        width: 74%;
    }.card:hover {
        margin-top: -3px;
    }.card-aleman h1 {
        font-size: 28px;
    }.ball-up h1 {
        font-size: x-large;
    }.ball-up p {
        font-size: medium;
    }.nothing {
        width: 24%;
    }.Contact {
        margin: 3.7px 1% auto auto;
        width: 25%;
        height: 85%;
    }.hamb {
        margin-top: 1.9%;
        height: 70%;
        display: block;
    }
}
